
    <div class="col-12 col-lg-4 col-widget p-3 p-lg-0"><!-- here we insert code of widget  -->
        <div class="card col-12 p-lg-0 mb-5" >
            <div class="card-header ">
            <i class="fas fa-bell mr-3"></i> Mes Notifications
            </div>
            <div class="list-group list-group-flush">

                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
            </div>
        </div>
        <div class="card col-12 p-lg-0 mb-5" >
            <div class="card-header ch">
                <img class="card-img-top" src="./<?= asset('/img/nous_contacter.png'); ?>" alt="Card image cap">
            </div>
            <div class="list-group list-group-flush p-3 bg-btn">
                <button type="button" class="btn btn-light">Nous Contacter</button>
            </div>
            
        </div>
        <div class="card col-12 p-lg-0 prrdv" >
            <div class="card-header p-0">
                <img class="card-img-top " src="./<?= asset('img/prende_rdv.png'); ?>" alt="Card image cap">
            </div>

        </div>

    </div>
</div>