<!DOCTYPE html>
<html lang="fr">
<head>
<!--
// BaseA
// name of project Makeflo.
//Script create by lakhdar.
// Contact: lakhdar-rouibah@live.fr.
// Web : rouibah.fr
-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Makeflo</title>
    <link rel="stylesheet" type="text/css" href="./<?= asset('css/bootstrap.min.css') ?>">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./<?= asset('css/styles.min.css') ?>">  
</head>
<body>
<div class="container-fluid">
    <div class="row row-all">

{{% NavA %}}
{{% HeadNavA %}}

{{% Super %}}
{{% WidgetA %}}

                <div class="row row-footer ">
                    <div class="col-12 d-flex justify-content-center mt-3 mb-3">
                        <span>Makeflo 2018</span>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="<?= asset('js/jquery-3.1.1.min.js') ?>"type="text/javascript"></script>
<script src="<?= asset('js/popper.min.js') ?>"type="text/javascript"></script>
<script src="<?= asset('js/bootstrap.min.js') ?>"type="text/javascript"></script>
<script src="<?= asset('js/app.js') ?>"type="text/javascript"></script>
</body>
</html>

    