<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>Description du service</b>
        </div>
            <div class="card pt-3">
            <?php
            if($table):
            ?>
                    <div class="card col-12 col-lg-4">
                        <img class="card-img-top" src="./ressources/img/assets/<?=   $table[0]['img'].'.png' ?>" alt="Card image cap">
                            <div class="card-body p-0 pt-1">
                                <h4>Nom: <?=   $table[0]['nom'] ?></h4>
                                <p>Description: <?=   $table[0]['description'] ?></p>
                                <p>Prix: <?=   $table[0]['prix'] ?></p>
                            </div>
                    </div>
            <?php
            endif;
            ?>

            </div>
    <!-- end -->
    </div>

</div>