@import "_var.scss";

body {

    //background-color: $dark;
}
.container-fluid {

    // this is row menu
    .row-menu {

        background-color: $black;
        nav.navbar {

            a.navbar-brand {

                text-transform: uppercase;

                img {

                    height: 30px;
                }
            }

            .collapse {

                .navbar-nav {

                    a {
                        color: $darkLight;
                    }

                    a:hover {
                        color: $orange;
                    }

                    .dropdown-menu {

                        border: solid 1px $orange;
                        background: $black;
                        .dropdown-item {

                            color: $darkLight;
                        }
                        .dropdown-item:hover {

                            color: $orange;
                            background-color: $black;
                        }
                    }
                }
            }

            button.navbar-toggler {

                color: $white;
                background-color: $white;
                box-shadow: none;
                outline: none;
            }
        }
    }

    // this is home for item
    .row-home {
        padding: 50px 0px 50px 0px;
        background-color: $dark;
        .item-home {

            
        }
    }

    // this is separator
    .row.row-sepa {

        height: 30px;
        background-color: $orangeDark;
    }

    .col-title {

        color: $orange;
        background-color: $orangeDark;
    }
    // this is login area
    .row-login {
        padding: 50px 0px 50px 0px;
        background-color: $black;


        #dropSelect {

            border: solid 1px $orange;
            background-color: $dark;
        }
        button.alert {

            outline: none;
            box-shadow: none;
            color: $orange;
            background-color: $orangeDark;
        }
        button.alert:hover {
            color: $black;
            background-color: $orange;
        }

        .item-login {

            color: $white;

            .form-group {

                label {

                    color: $orange;
                }

                h3.h-orange {

                    color: $orange;
                }
            }

            select.form-control {
                color: $orange;
                border: none;
                outline: none;
                box-shadow: none;
                border-bottom: solid 1px $orange;
                background-color: $black;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
            }

            input.form-control {
                color: $orange;
                border: none;
                outline: none;
                box-shadow: none;
                border-bottom: solid 1px $orange;
                background-color: $black;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
            }

            input::placeholder {
                color: $orange;
                opacity: 0.5;
            }

            button {
                color: $orange;
                background-color: $orangeDark;
            }

            button:hover {
                color: $black;
                background-color: $orange;
            }

        }
    }



    // this is row-desktop area
    .row-desktop {

        padding: 100px 0;
        background-color: $dark;
        .card {

            color: $orange;
            background-color: $black;
            transition-duration: 0.5s;
        }
        .card:hover {

            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transition-duration: 0.5s;
        }

        div.card-body {

            a {

                button.btn {

                    width: 100%;
                    color: $orange;
                    text-align: center;
                    padding: 5px;
                    box-shadow: none;
                    outline: none;
                    background-color: $orangeDark;
                }

                button.btn:hover {

                    color: $black;
                    background-color: $orange;
                }
            }
        }

    }

    // this is the agenda-head area
    .row-agenda-head {

        background-color: $dark;

        .card {

            color: $orange;
            background-color: $orangeDark;
        }

    }
    // this is the agenda area
    .row-agenda {

        background-color: $dark;

        .card {

            color: $orange;
            background-color: $black;
            transition-duration: 0.5s;
        }


        
        .agenda {
            margin: 10px;
            border: solid 1px $orangeOpac;
            background-color: $orangeOpa;

            .agenda-head{

                margin-top: 15px;
                padding: 15px 0 15px 0px;
                background-color: $orangeDark;
                h4 {

                    color: $orange;
                }

                a {

                    color: $orange;
                    font-size: 36px;
                    line-height: 8px;
                    box-shadow: none;
                    outline: none;
                }

                a:hover {

                    color: $orange;
                }

            }

            .calend {

                width: 100%;
                height: 74%;
                margin: 15px 0px 5px 0px;
                td {

                    width: 14.29%;
                    border: solid 1px $orangeOpac;
                    vertical-align: top;
                    .other-month {

                        padding: 10px;
                        color: $white;
                        opacity: 0.2;
                    } 
                }


            
                .week-day {

                    height: 100%;
                    padding: 10px;
                    color: $black;
                    background-color: $orange;
                    opacity: 1;
                }
                .weekend {

                    
                    color: $white;
                    opacity: 0.2;
                }
                .today {

                    padding: 10px;
                    color: $white;
                    background-color: $orange;
                }

                .remove {

                    padding: 10px;
                    color: $white;
                    opacity: 0.2;
                }

                .day {

                    height: 100%;
                    color: $white;
                    padding: 10px;
                    cursor: pointer;

                    .green {

                        width: 10px;
                        height: 10px;
                        background-color: green;

                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }

                    .red {

                        width: 10px;
                        height: 10px;
                        background-color: red;

                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }

                .day:hover {

                    background-color: $orangeOpac;
                }
            }

            .agenda-footer {

                color: $orange;
                margin-bottom: 5px;

                .green {

                    width: 10px;
                    height: 10px;
                    background-color: green;
                    margin-top: 8px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                .red {

                    width: 10px;
                    height: 10px;
                    background-color: red;
                    margin-top: 8px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                .orange {

                    width: 10px;
                    height: 10px;
                    background-color: $orange;
                    margin-top: 8px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
    }

    // this area for cancel
    .row-cancel {

        background-color: $dark;
        .cancel {

            .alert {

                .btn {

                    color: $orange;
                    background-color: $orangeDark;
                }

                .btn:hover {

                    color: $orangeDark;
                    background-color: $orange;
                }
            }
        }
    }

    .menu-car {

        background-color: $orange;
        .btn {

            color: $orange;
            background-color: $orangeDark;
        }

        .btn:hover {

            color: $orangeDark;
            border: solid 1px $orangeDark;
            background-color: $orange;
        }
    }

    // this is the footer
    .row-footer {

        background-color: $black;
        color: $orange;
    }

    // this is modal area
    .modal {

        .modal-dialog {

            .modal-content {

                background-color: $orangeDark;

                .modal-header {

                    background-color: $orange;
                }

                .modal-body {

                    background-color: $black;

                    form {

                        div#date{

                            color: $orange;
                        }

                        .form-group {

                            label {

                                color: $orange;
                            }

                            h3.h-orange {

                                color: $orange;
                            }
                        }

                        select.form-control {
                            color: $orange;
                            border: none;
                            outline: none;
                            box-shadow: none;
                            border-bottom: solid 1px $orange;
                            background-color: $black;
                            border-radius: 0px;
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            -ms-border-radius: 0px;
                            -o-border-radius: 0px;
                        }

                        input.form-control {
                            color: $orange;
                            border: none;
                            outline: none;
                            box-shadow: none;
                            border-bottom: solid 1px $orange;
                            background-color: $black;
                            border-radius: 0px;
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            -ms-border-radius: 0px;
                            -o-border-radius: 0px;
                        }

                        input::placeholder {
                            color: $orange;
                            opacity: 0.5;
                        }

                        button {
                            color: $orange;
                            background-color: $orangeDark;
                        }

                        button:hover {
                            color: $black;
                            background-color: $orange;
                        }
                    }
                }

                .modal-footer {

                    background-color: $dark;
                    button {
                            color: $orange;
                            background-color: $orangeDark;
                        }

                    button:hover {
                        color: $black;
                        background-color: $orange;
                    }
                }
            }
        }
    }

}
