RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/ [NC]
RewriteRule . ../app/router.php/%{REQUEST_URI} [NC,L]


#RewriteCond %{REQUEST_URI} !^/index.php
#RewriteRule (.*) /index.php/$1 [L]


