Options -Indexes 
RewriteEngine On  
RewriteCond %{HTTP_REFERER} !^$  
RewriteCond %{HTTP_REFERER} !^http://localhost/Makeflo/.*$ [NC] 
RewriteRule .*\.(gif|JPG|png|jpe?g)$ http://localhost/Makeflo [R,L]