
    <div class="col-12 col-lg-4 col-widget p-3 p-lg-0"><!-- here we insert code of widget  -->
        <div class="card col-12 p-lg-0 mb-5" >
            <div class="card-header ">
            <i class="fas fa-bell mr-3"></i> Mes Notifications
            </div>
            <div class="list-group list-group-flush">

                        <li class="list-group-item"><a href="/Rdv" >Vous avez <span class="badge badge-danger ml-3 mr-3"><?= $nb_rdv ?></span> rendez-vous </a></li>
                        <li class="list-group-item"> <a href="/Message" >Mes messages <span class="badge badge-danger ml-3"><?= count($array_message) ?></span></a></li>
                        <li class="list-group-item"><a href="/MesFactures" >Mes factures</a></li>
            </div>
        </div>
        <div class="card col-12 p-lg-0 mb-5" >
            <div class="card-header ch">
                <img class="card-img-top" src="./<?= asset('img/nous_contacter.png'); ?>" alt="Card image cap">
            </div>
            <div class="list-group list-group-flush p-3 bg-btn">
                <a href="/Message"class="list-group list-group-flush" ><button type="button" class="btn btn-light">Nous Contacter</button></a>
            </div>
            
        </div>
        <div class="card col-12 p-lg-0 prrdv" >
            <div class="card-header p-0">
                <a href="/Agenda" ><img class="card-img-top " src="./<?= asset('img/prende_rdv.png'); ?>" alt="Card image cap"></a>
            </div>

        </div>

    </div>
</div>