<div class="col-xs-0 col-lg-1"></div>
<div class="col-xs-12 col-lg-10 col-menu d-flex  align-items-end flex-column ">
    <p class="p-2 pr-4">
        <a  data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><img src="./img/user.png" alt=""></a>
    </p>
    <div class="row col-12  flex-wrap justify-content-between collapse multi-collapse" id="multiCollapseExample1">
        <div class="col-lg-6 col-xl-5 d-none d-lg-block pb-2">
            <img src="./img/logo_e-cone.png" alt="" width= "60%">
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-5  pb-2">
            <div class="card bg-light" style="max-width: 48rem;">
                <div class="card-header bg-warning">Login</div>
                    <div class="card card-body ">
                        <form >
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="password-login" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button  id="submit-AdminLogin" class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-0 col-lg-1"></div>